[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
alembic = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
